/* Ratings */
.rating-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  color: rgb(224, 39, 70, 1);
}

.rating-outer::before {
  content: '\f006 \f006 \f006 \f006 \f006';
  /* content: '&#9734'; */
}

.rating-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.rating-inner::before {
  content: '\f005 \f005 \f005 \f005 \f005';
  color: rgb(224, 39, 70, 1);
}

.StripeElement {
  border-bottom: 2px solid #d1d5db;
}

.StripeElement--invalid {
  border-bottom: 2px solid red;
}