.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: grey;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-custom-pagination {
  width: 30px;
  height: 6px;
  background: rgb(224, 39, 70, 1);
  border: none;
  border-radius: 3px;
  margin: 0px 3px;
  transition: all 0.2s ease 0s;
}

.swiper-pagination-bullet {
  width: 30px !important;
  border-radius: 5px !important;
  background: black !important;
  opacity: 1 !important;
  height: 6px !important;
}

.swiper-pagination-bullet-active {
  background: rgb(224, 39, 70, 1) !important;
}

/* Ratings */

.rating-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  color: rgb(224, 39, 70, 1);
}

.rating-outer::before {
  content: '\f006 \f006 \f006 \f006 \f006';
  /* content: '&#9734'; */
}

.rating-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.rating-inner::before {
  content: '\f005 \f005 \f005 \f005 \f005';
  color: rgb(224, 39, 70, 1);
}