@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: inherit;
}

/* body {
  font-family: 'Poppins', sans-serif,-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
} */

html,
body {
scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
  }
  .group:hover .hover\:w-full{
    width: 100%;
  }
  .cursor-zoomin{
    cursor: zoom-in;
  }
  /*------scroll bar---------------------*/
  ::-webkit-scrollbar {
  width: 5px;
  height: 7px;
  }
  ::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
  }
  ::-webkit-scrollbar-thumb {
  background: #525965;
  border: 0px none #ffffff;
  border-radius: 0px;
  }
  ::-webkit-scrollbar-thumb:hover {
  background: #525965;
  }
  ::-webkit-scrollbar-thumb:active {
  background: #525965;
  }
  ::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
  }
  ::-webkit-scrollbar-track:hover {
  background: transparent;
  }
  ::-webkit-scrollbar-track:active {
  background: transparent;
  }
  ::-webkit-scrollbar-corner {
  background: transparent;
  }